-
  var mainMenu = [
    {
      "id": "0",
      "name": "Home",
      "url": "/"
    },
    {
      "id": "1",
      "name": "Projects",
      "url": "/projects",
    },
    {
      "id": "2",
      "name": "Measurement",
      "url": "/measurement"
    },
    {
      "id": "3",
      "name": "Team",
      "url": "/team"
    },
    {
      "id": "4",
      "name": "Reviews",
      "url": "/reviews"
    },
    {
      "id": "5",
      "name": "Contacts",
      "url": "/contacts"
    },
  ];
