// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {
  background-color: $section-color-main;

  &__inner {
    padding-right: 100px;
    padding-left: 100px;
  }
}
