// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.btn {
  $block-name: &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  padding: 10px 20px;
  overflow: hidden;

  font-size: 0.8125rem;
  line-height: 0.9375rem;
  font-family: "FuturaDemiC", sans-serif;
  vertical-align: middle;
  text-align: center;
  color: $text-color;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;

  background-color: $link-color--hover;
  background-image: none;
  border: 1px solid $link-color--hover;
  border-radius: $border-radius;
  box-shadow: $shadow;
  cursor: pointer;

  transition-duration: $transition-time;
  transition-property: color, background-color, border-color;

  user-select: none;

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    color: $text-color;
    text-decoration: none;

    background-color: transparent;
    border-color: $white;
  }

  &--light {
    background-color: transparent;
    border-color: $white;

    &:hover,
    &:focus {
      background-color: $link-color--hover;
      border-color: $link-color--hover;
    }
  }

  &--disabled,
  &:disabled {
    color: $text-color;

    background-color: $gray-lightest;
    border-color: $gray-lightest;
    cursor: not-allowed;
    opacity: $opacity;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  // &__icon {
  //   display: inline-block;
  //   vertical-align: middle;
  // }

  // &--main {
  //   color: #fff;
  //   background-color: $color-main;
  //   // border: 1px solid $color-main;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //     background-color: darken($color-main, 10%);
  //     // border-color: darken($color-main, 12%);
  //   }

  //   &--disabled,
  //   &:disabled {
  //     color: #fff;
  //     background-color: $color-main;
  //     // border-color: $color-main;
  //   }
  // }
}
