// В этом файле должны быть стили для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.logo {
  $block-name: &; // #{$block-name}__element

  display: inline-block;

  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  font-family: "FuturaDemiC", sans-serif;
  color: $link-color--hover;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    color: $link-color;
  }

  img {
    display: block;
  }
}
