section.promo
  div.promo__inner
    div.promo__content
      h1.promo__title
        | Turnkey Repair in the city of <span>Rostov-on-Don</span>
      p.promo__lead
        | Get ready-made turnkey repairs on time with work time saving up to 45 days and 20% from cost of materials due to the organization of work
      div.btn__wrapper
        +btn('Calculate the cost')(href='#').promo__cost-btn
        +btn('Submit your application', 'light')(href='#').promo__submit-btn
    div.promo__insta
      a.promo__insta-link(href='https://instagram.com', target='_blank', rel='noreferrer noopener')
        |Instagram
    div.promo__scroll
      span.promo__scroll-text
        |Scroll down
      a.promo__scroll-link(href='#contact')
        span.visually-hidden
          | Scroll down

