.projects {
  $block-name: &; // #{$block-name}__element

  position: relative;

  min-height: 300px;
  padding-top: 100px;
  padding-bottom: 200px;

  background-color: $section-color-main;
  background-image: url("../img/bg-line.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 300px;

    background-image: url("../img/bg-city.png");
    background-repeat: repeat-x;
    background-position: left bottom;
    background-size: 35%;
    opacity: 0.05;
  }

  &__inner {
    @include container(xxl);

    position: relative;
    z-index: 1;

    display: flex;
  }

  &__content {
    max-width: 442px;
    margin-right: 50px;
    padding-top: 80px;
  }

  &__title {
    max-width: 253px;
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 400;
    font-size: $font-size-title-tertiary;
    line-height: 2.3125rem;
    font-family: "Yeseva One", sans-serif;
    color: $color-gold;
    text-transform: uppercase;
    letter-spacing: -0.07em;

    &::after {
      content: "";

      display: inline-block;
      width: 92px;
      height: 2px;
      margin-left: 30px;

      vertical-align: middle;

      background-color: $color-gold;
    }
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 46px;

    line-height: 1.8125rem;
  }

  &__description-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;

    list-style-type: none;
  }

  &__description-item {
    flex-basis: 50%;
    margin-bottom: 14px;

    h3 {
      margin-top: 0;
      margin-bottom: 8px;

      font-weight: 400;
      font-size: $font-size;
      font-family: "Yeseva One", sans-serif;
      color: $color-gold;
      text-transform: uppercase;
    }

    p {
      max-width: 100px;
      margin-top: 0;

      font-size: $font-size-sm;
    }
  }

  &__nav-list {
    display: flex;
    margin-bottom: 50px;
    padding-left: 0;

    list-style-type: none;
  }

  &__nav-item {
    &:not(:first-of-type),
    &:not(:last-of-type) {
      margin-right: 20px;
      margin-left: 20px;
    }
  }

  &__nav-link {
    position: relative;

    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    font-family: "Yeseva One", sans-serif;
    color: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: $link-color--hover;
      opacity: 0;

      transition: opacity $transition-time, bottom $transition-time;
    }

    &:focus {
      outline: none;
    }

    &:hover,
    &:focus,
    &--active {
      color: $link-color--hover;

      &::after,
      &::after {
        bottom: -4px;

        opacity: 1;
      }
    }

    &--active {
      cursor: default;
    }
  }
}
